---
---

@import "{{ site.theme }}";

a:hover, a:focus {
  color:#069;
  font-weight:normal;
}

.downloads a:hover, .downloads a:focus {
  color:#675C5C;
  font-weight:normal;
}

header {
  width:220px;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

footer {
  width:220px;
  float:left;
  position:fixed;
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}

section {
  width:600px;
  float:right;
  padding-bottom:50px;
}

