---
---

@import "{{ site.theme }}";

a:hover, a:focus {
  color:#069;
  font-weight:normal;
}

.downloads a:hover, .downloads a:focus {
  color:#675C5C;
  font-weight:normal;
}

header {
  width:200px;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

footer {
  width:200px;
  float:left;
  position:fixed;
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}

.wrapper {
  width:960px;
  margin:0 auto;
}
